.badge,.badge-visits {
    display: inline-block;
    color: #fff;
    padding: .2rem .6rem;
    border-radius: .4rem;
    font-size: 0.8rem;
    text-align: center;
    white-space: nowrap;
    background-color: green;
}

.badge-visits {
    background-color: #007bff;
}
